<header class="site-header">
  <div class="container">{{ page.myheader }}</div>
</header>
<div class="theme-picture-wrapper">
<img class="theme-picture" src="{{directory}}/images/mytheme.photo.jpg"
  alt="mydemo-theme-photo" />
</div>
<div class="site-menu">
    <div class="container">{{ page.menu }}</div>  
<div>
<div class="site-main">
    <div class="container">{{ page.content }}</div>
</div>
<footer class="site-footer">
  <div class="container">{{ page.myfooter }}</div>
</footer>

